.bg-form {
  background-image: url('../assets/green_background.png');
  background-size: cover;
  background-position: center;
}

.sign-up-main-container {
  background-image: url('../assets/green_background.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  position: relative;
}

.sign-up-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
}

.line-center {
  display: flex;
  justify-content: center;
}

.sign-up-header {
  position: absolute;
  top: 40px;
  left: 60px;
}

@media (min-width: 768px) {
  .sign-up-inputs {
    flex-direction: row;
    justify-content: center;
  }
}
